@font-face {
  font-family: main-font;
  src: url(malibu/Malibu.otf);
}

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.main-font {
  font-family: main-font;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hZfabd {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}

.jXhBnc::after {
  background: transparent !important;
}

.tYZnL img {
  object-fit: contain !important;
}

.card-description::after {
  content: none !important;
  display: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.slick-next {
  right: 70px !important;
}

.slick-prev {
  left: 70px !important;
  z-index: 2 !important;
}

@media only screen and (min-width: 1025px) {
  .slick-next {
    right: 80px !important;
  }

  .slick-prev {
    left: 170px !important;
    z-index: 2 !important;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
